:root{
	--main-size: 1.35em;
	--size-font: 1.1em;
	--font-color: #fff;
}
*{
	scroll-behavior: smooth;
}
body{

	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	background: grey;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 8% 1fr 3fr 1fr;
	grid-template-areas: 
		'header header header'
		'bio bio bio'
		'content content content'
		'footer footer footer'
	;
	overflow-x: hidden;
}
header,footer,content,section{
	background: #8fcaca;
	color: var(--font-color);
}
header{
	text-shadow: 3px 3px 1px rgba(0,0,0,.1);
	font-size: var(--size-font);
	grid-area: header;
	border-bottom: 2px solid #eee;
}
header .nav {
	display: flex;
}
header .nav .name{
	font-size: var(--main-size);
	text-align: center;
	align-self: center;
	flex-grow: 2;
}
.catalog{

}
header .nav  ul{
	flex-grow: 3;
}
header ul{
	display: flex;
	justify-content: flex-end;
}
header ul li{
	position: relative;
	left: -100px;
	list-style: none;
	justify-content: flex-end;
	margin-right: 25px;
}
header ul li a{
	color: var(--font-color);
	text-decoration: none;
}
section{
	background: #7ba8a8;
	font-size: var(--size-font);
	color: var(--font-color);
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-area: bio;
	padding: 20px;
}
/*section img, section p{
	flex-grow: 1;
}*/
section img{
	margin: auto;
}
section p{
	box-sizing: border-box;
	padding: 20px;
}
content{
	padding: 20px;
	margin: auto;
	grid-area: content;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 10px;
	background: #333;
	width: 100%;
	padding: 50px;
}
content img{
	box-shadow: 2px 2px 2px rgba(0,0,0,.4);
	width: 100px;
}
footer{
	background: #527070;
	grid-area: footer;
	text-shadow: 3px 3px 1px rgba(0,0,0,.1);
}
/*Responsive Mobile*/
/*@media (max-width: 672px){
	body{
		grid-template-areas: 
		'header header header'
		'content content content'
		'footer footer footer'
		;
	}
}*/